//fuentes
$fuente_principal: "Montserrat", sans-serif;

// Colores
$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$morado: #752F97;
$morado2: #3c0f53;
$negro: #000000;
$blanco: #FFFFFF;

// media querys

$telefono: 480px;
$tablet: 868px;
$desktop: 1200px;
$desktopXl: 1400px;
